.Link-btn{
  border: 3px solid #70cf36;
  background-color: #70cf36;
  padding: 10px 15px;
  font-size: 20px;
  text-decoration: none;
  color: black;
  width: 25%;
  text-align: center;
  /* margin: 0 auto; */
}

body{
  max-width: 500px;
  margin: 0 auto;
}
