.CreateUserForm{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}

.CreateUserForm form{
  font-size: 25px;
  display: flex;
  flex-direction: column;
}

.CreateUserForm input{
  margin: 25px;
  text-align: center;
  font-size: 30px;
  border: 2px solid black;
}